* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2d53bd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 2em;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fafafa;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.operator {
  background-color: #f72020;
  color: white;
}

.operator:hover {
  background-color: #e07b00;
}

.operator:active {
  background-color: #cc6a00;
}

.btn:hover {
  background-color: #ddd;
}

.btn:active {
  background-color: #ccc;
}
